
h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.container {
    padding-bottom: 50px;
}

.bold-text {
    font-weight: bold;
}

p {
    white-space: pre-wrap;
}

main ul {
    list-style-position: inside;
}

main ul>li {
    margin-left: 15px;
}